[2017-04-25 06:57] dyu opened #1 "captcha support"
Since the comment is unauthenticated, having captcha would at least help.

[2017-04-25 12:39] smbkr commented on #1
I have started looking at this - would reCaptcha invisible be suitable? If so, I'll give this a crack during my lunch breaks this week.

[2017-04-25 13:44] adtac commented on #1
@smbkr Absolutely, all patches are welcome :) If you want, you can create a new issue and I'll assign it to you (of you can self-assign if you have permissions; idk how Github permissions work).

[2017-04-26 00:22] Xe opened #4 "Why a POST for getting comments?"
It seems kind of strange to me to have [this](https://github.com/adtac/commento/blob/master/http.go#L53) use a `POST` request to `GET` comments.

[2017-04-26 07:20] adtac commented on #4
Yeah, a `GET` sounds beter.

[2017-04-26 13:03] adtac opened #6 "Use a `Commento` namespace in the JS file"
Instead of polluting the global namesapce.

[2017-04-26 13:05] adtac opened #7 "Use `CREATE TABLE IF NOT EXISTS` instead of doing weird stuff"
Don't waste a query checking if a table exists. Just use `CREATE TABLE IF NOT EXISTS` directly.

Source: https://www.reddit.com/r/golang/comments/67blza/commento_an_open_source_lightweight_and/dgqjxe8/

[2017-04-26 13:09] adtac opened #8 "Limit the number of returned comments to a sane number"
This might be a little tricky given the database structure. Somehow we need to select the first N top level comments and then the rest. Maybe an extra condition like `parent = -1` to get the top level comments and query for non-top-level comments (and limit that to `LIMIT - num_top_level_comments_returned`).

Not sure if this the best idea.

Again, thanks to /u/go255 ([link](https://www.reddit.com

[2017-04-26 13:12] adtac opened #9 "Replace the goto in http.go with helper functions"
Quoting /u/go255 ([link](https://www.reddit.com/r/golang/comments/67blza/commento_an_open_source_lightweight_and/dgqjxe8/

	end:
	result.Comments = comments
	json, _ := json.Marshal(result)
	w.Header().Set("Access-Control-Allow-Origin", "*")
	fmt.Fprintf(w, "%s", string(json))

[2017-04-26 13:14] adtac opened #10 "Do not use transactions for one-line statements"
Use `Exec` instead of preparing a statement, creating a transaction and then committing it.

[2017-04-26 13:17] adtac opened #11 "Use a modified preorder tree to render comments instead of each comment referencing parent"
Source: https://www.reddit.com/r/programming/comments/67fb80/commento_an_open_source_lightweight_and/dgqidle/

Reference link: https://www.sitepoint.com/hierarchical-data-database-2/

[2017-04-26 17:19] smbkr opened #12 "Add honeypot field to catch spam"
Add a honeypot field similar to the implementation on formspree.io, to catch potential spammers.

If enabled, adds a '_gotcha' field to the comment form that is hidden with CSS, and if the value is not null when a comment is submitted, it is silently ignored.

[2017-04-26 18:39] mongrelion commented on #1
I was also thinking about reCaptcha (Google's) but the honeypot approach sounds easier and still elegant.

@smbkr good luck. Let me know if you need some guidance/help.

[2017-04-26 18:44] adtac opened #18 "Clear the comment box contents after clicking "Post Comment""

[2017-04-26 18:48] #18 closed

[2017-04-26 18:54] kaushalmodi opened #19 "Feedback saying that the comment got posted?"
I just tried out the demo site over phone. The good news is that it works. But it took me a moment to realize that the comments were actually getting posted.

- There was no feedback saying that the commented got posted. I was expecting a green background hover text saying that that happened and then disappeared. But it felt like nothing happened.. and I tapped the button few times. Turns out I en

[2017-04-26 19:02] adtac commented on #19
There are [toast notificaations](https://picturepan2.github.io/spectre/components.html#toasts) in Spectre (the CSS library I'm using (because I'm a JS/CSS noob)). Maybe we could use that.

Yeah, some users wanted chronological sorting. Maybe a compromise would be temporarily show your comment at the top and then show it at the bottom when you refresh. But I feel that's needlessly complicating stuf

[2017-04-26 19:23] chimbosonic opened #20 "Limit nesting to a sane number"
After multiple replies the comments become unreadable.
Multiple nesting replies make comments disappear.

PS great loading times for your demo considering the number of comments and the fact I loaded it over 3g

[2017-04-26 19:28] adtac commented on #20
I've edited the title to "Limit nesting to a sane number" because I think that's more general.

This should be fairly easy to implement: compute the nest level at each insert (since we know the parent) and reject all inserts exceed a threshold.

What's a sane level? 5 levels below root?

[2017-04-26 19:46] chimbosonic commented on #20
So on my phone it text escapes the box on the 7th reply
I added some screenshots

![screenshot_20170426-204030](https://cloud.githubusercontent.com/assets/5418177/25453540/3c52f1dc-2ac1-11e7-8b16-4faca81a8d0f.png)
![screenshot_20170426-204100](https://cloud.githubusercontent.com/assets/5418177/25453542/3c53cfbc-2ac1-11e7-81c5-876557089adc.png)

[2017-04-26 20:56] adtac opened #21 "Do not indent the right side when nesting"
Thanks to https://news.ycombinator.com/item?id=14206261

[2017-04-26 21:19] franciscop commented on #20
I'd like to add what I did in [comments.network](https://comments.network/): first indent is pretty obvious, second one is smaller, etc until at certain point the indentation between them is really small. Not sure how that would work out with the border based boxes.

[2017-04-27 01:51] michaelmior opened #23 "CSS outdated"
I get the error below when trying the snippet in the README. Looking at `vendor/commento.js`, it looks as though the version number is out of date.

`Failed to load resource: cdn.rawgit.com/adtac/commento/0.0.2/vendor/commento.min.css the server responded with a status of 404 ()`

[2017-04-27 13:17] rrggrr opened #24 "Add "sticky" comments"
Add comments that always appears at the top.

[2017-04-27 13:22] rrggrr opened #25 "Moderation hold"
Allow moderator to approve or reject comments before rendering.

[2017-04-27 14:59] StAmourD commented on #11
[https://www.caktusgroup.com/blog/2016/01/04/modified-preorder-tree-traversal-django/](https://www.caktusgroup.com/blog/2016/01/04/modified-preorder-tree-traversal-django/)

[2017-04-27 15:11] jorinvo opened #26 "rename vendor folder"
Commento looks nice so far :)
Just one small thing: The `vendor` directory is used in Go projects to install dependencies to.
Maybe you could rename the directory to **assets** or **static** instead?

[2017-04-27 15:14] jorinvo commented on #26
Never mind. Just found [this](https://github.com/adtac/commento/pull/3#issuecomment-297293485) comment. Should be solved then!

[2017-04-27 15:14] #26 closed

[2017-04-27 15:49] peteretelej opened #29 "Use server timeouts"
Set server timeouts to prevent leaking of file descriptors by slow or disappearing clients (default is no timeouts). See: [So you want to expose Go on the Internet](https://blog.cloudflare.com/exposing-go-on-the-internet/#timeouts) and [https://blog.cloudflare.com/the-complete-guide-to-golang-net-http-timeouts/](https://blog.cloudflare.com/the-complete-guide-to-golang-net-http-timeouts/).

Somethi

[2017-04-27 16:08] peteretelej commented on #9
How about creating a result receiver method that writes the response:

[code]

[2017-04-27 16:38] peteretelej opened #31 "Remove unnecessary sql.Tx in createComment"
The transaction started and committed in `createComment` is unncessary, as the `db.Exec` suffices and does not use it.

Instead of
[code]

it just needs

[code]

[2017-04-27 19:48] konart opened #32 "Non-latin characters in the "name" field aren't allowed"
While comment's body handles non-latin characters just file, new comment will not render non-latin character in the "name" field.

So russian "Привет" will be an empty string "", and "Test Привет Test" will be rendered as "Test  Test"

[2017-04-28 13:00] adtac commented on #32
Yeah, you're right. I was trying to fix an XSS exploit and used whitelists instead of blacklists. I'll fix this :+1:

[2017-04-28 13:01] adtac commented on #31
Dupe of https://github.com/adtac/commento/issues/10 but yours is more verbose. Closing that one in favor of this.

[2017-04-28 13:01] adtac commented on #10
Closing in favor of https://github.com/adtac/commento/issues/31

[2017-04-28 13:01] #10 closed

[2017-04-28 13:02] adtac opened #34 "Comment length limit"
Someone posted the first few hundred thousand digits of pi :|

[2017-04-28 15:11] #7 closed

[2017-04-28 15:11] #9 closed

[2017-04-28 15:14] adtac commented on #6
This was solved in https://github.com/adtac/commento/pull/28 thanks to @DarkThrone :)

[2017-04-28 15:14] #6 closed

[2017-04-28 15:24] smbkr commented on #32
@adtac package `html/template` has got a function `HTMLEscapeString()` that is probably useful here

[2017-04-28 15:25] #12 closed

[2017-04-28 15:54] #4 closed

[2017-04-28 15:54] #29 closed

[2017-04-28 15:54] #31 closed

[2017-04-28 15:54] #34 closed

[2017-04-28 16:06] adtac commented on #32
@smbkr that's even better. Thanks, I'll use that.

[2017-04-28 16:43] caarlos0 opened #37 "block custom styling"
in order to avoid this:

![image](https://cloud.githubusercontent.com/assets/245435/25538303/938d251e-2c18-11e7-98f5-bf74b6606bd2.png)

[2017-04-28 16:44] adtac commented on #37
Just pushed https://github.com/adtac/commento/commit/6dc9e5cab54f30a8ea1caa23f98a92d0c3e23246 that should fix it

[2017-04-28 16:44] adtac commented on #37
Updating the demo server right now

[2017-04-28 16:46] adtac commented on #37
Fixed

[2017-04-28 16:46] #37 closed

[2017-04-28 17:01] klebervirgilio commented on #24
Hey! I would like to help. :)

How would like to do that?

As I see we could set an order attribute on comment... this way we can pin more than one comment.

What do you think?

[2017-04-28 17:01] adtac commented on #32
This has been fixed in https://github.com/adtac/commento/commit/6dc9e5cab54f30a8ea1caa23f98a92d0c3e23246

[2017-04-28 17:01] #32 closed

[2017-04-28 17:03] adtac commented on #24
This would require some kind of admin dashboard, which we don't have at the moment. Currently all users are equal (because we literally have zero ways to differentiate - no IP logs, no cookies, nothing).

[2017-04-28 17:03] adtac commented on #23
This has been fixed  now, thanks for pointing out! :)

[2017-04-28 17:03] #23 closed

[2017-04-28 17:04] michaelmior commented on #23
Thanks for the fix!

[2017-04-28 17:30] klebervirgilio commented on #24
Good point. We could implement some kind of `vote|thumbs up|endorsement|like` where the most voted comment, and only the most voted gets sticked (something like stackoverflow). This way votes|likes|endorsements would only be a integer field being incremented anonymously.

How does that sounds?

[2017-04-28 17:38] adtac commented on #24
@klebervirgilio yeah, voting is a upcoming feature. But we can't have an anonymous integer field: the same person will then be able to vote twice. Some form of tracking is inevitable if we want stuff like voting, deleting, editing comments, stickying.

One idea someone suggested was to (one-way) hash the IP address of the user and use that as identity. That way, we don't really track the user's IP

[2017-04-28 17:59] adtac commented on #20
I've added https://github.com/adtac/commento/commit/9f3878245145e2abb76de178f797de561cf063c5 that fixes this. If you use the latest version of commento, comments will be limited to a depth of 6. If you try to reply to a level 6 comment, it'll actually be a reply to its parent. Example:

![img](https://cloud.githubusercontent.com/assets/7521600/25540934/6fb2dd44-2c6a-11e7-93f3-5c989837a8c4.png)

"6

[2017-04-28 17:59] #20 closed

[2017-04-29 13:37] elamperti opened #40 "Symbols in code blocks converted to HTML entities"
I wrote a test comment with a code block (using ` ```sh `) and `echo "hi"` was converted to `echo &#34;hi&#34;`. That shouldn't happen! :fearful:

Reference screenshot:
![selection_011](https://cloud.githubusercontent.com/assets/910672/25555875/bdb946ec-2cc7-11e7-9766-a26824c7364a.jpg)

[2017-04-29 17:00] Superman132 opened #41 "Demo comment deletion"
The comments in the demo aren't getting deleted after 30 minutes. Some comments say that they were posted 10 hours ago, yet they are still shown on the web page.

[2017-04-30 00:39] DarkThrone commented on #40
I believe I know where the problem is. You can leave this one to me @adtac if you'd like.

[2017-04-30 01:06] DarkThrone opened #43 "Introduce a front-end build pipeline"
I believe Commento should have a build pipeline for it to allow concurrent working streams without generating merge conflicts.

In the current situation if two people were to work on a JavaScript or CSS issue, or even the same person working on two separate issues, then PR order turns into a bottle neck.

My solution to this problem is to introduce a low footprint build pipeline for the front-end.

[2017-04-30 01:07] DarkThrone commented on #21
I have a commit for this one, but before I submit a PR I need either https://github.com/adtac/commento/pull/42 merged or https://github.com/adtac/commento/issues/11 submitted, reviewed and merged.

[2017-04-30 01:11] acz13 commented on #40
...just don't escape inside `<pre>`?

[2017-04-30 01:37] DarkThrone commented on #19
We could implement a gif or an svg image to for visual feedback on the button. That should be farily easy, and we could implement that entirely on the front-end.

<img width="344" alt="screen shot 2017-04-30 at 11 36 17" src="https://cloud.githubusercontent.com/assets/565726/25560516/5ab18870-2d99-11e7-8e6d-11a0328008c5.png">

[2017-04-30 02:18] DarkThrone commented on #40
@acz13 showdown always escapes entities inside `<pre><code>`. This is due to a double encoding that happens in `http.go` when we `HTMLEscapeString`. I think the solution is to sanitise the output string looking for double encodings before displaying anything.

[2017-04-30 06:26] adtac commented on #19
That sounds neat. At completion, it could become a tick and last for a couple of seconds (or until the user focuses on the textarea again).

[2017-04-30 06:36] adtac commented on #43
I agree, the current way is too much of an hassle during merges. I had to cherry-pick 8 or so PRs and discard all changes to the minified files at each stage (because of merge conflicts) and apply my own minification (I use the [`minify` package](https://github.com/tdewolff/minify)).

I just have a question: say I create a commit changing a couple of things in the unminified JS. I shouldn't touch

[2017-04-30 06:55] adtac commented on #41
Argh I must have forgotten to set the `DEMO` env variable.

[2017-04-30 06:59] adtac commented on #40
Yep, that's the issue.

@DarkThrone I can't assign you (or anyone else) for some reason using the Github UI. But consider yourself assigned ;)

[2017-04-30 07:02] adtac commented on #19
We can add a `disabled` attribute too. That'll prevent double-clicking and double-posting.

[2017-04-30 17:41] peteretelej opened #45 "Use simpler err printing"
The error logging and printing on emit & die functions is a bit verbose.

`fmt.Printf("%s", fmt.Errorf("%s", err))` only needs `fmt.Print(err)` or better `fmt.Println(err)`

and 'logger.Panic(fmt.Errorf("%s", err))` just `logger.Panic(err)`

[2017-04-30 18:22] peteretelej opened #47 "Reduce demo env logging verbosity"
The demo environment logs __deleting__ every 60secs when running `cleanupOldComments`, the logging is a bit much. A simple notice would do e.g. _will be cleaning old comments every sec_

[2017-04-30 18:43] peteretelej opened #49 "Use flags instead of environment variables for arguments"
Flags may be easier to manage and control for instances.

[code]

[2017-04-30 19:58] peteretelej opened #50 "Fix loading page without comments"
Getting the following error is returned (console) if the url has no comments
[code]

Trying to loop through comments when the no data is returned. Checking if data exists first may help ( at
`commento.js:191`)
[code]

[2017-04-30 21:43] peteretelej commented on #34
regarding these length limits; sqlite ignores any length limits e.g. varchar(1000) column is just like a TEXT column. To resolve this, comments may need truncating before saving in `createComment`

[code]

& additionally adding a `max_length` to the comment form textarea

[2017-04-30 22:33] adtac commented on #34
huh, I didn't know that :D

I'll make a patch soon :+1:

[2017-04-30 22:48] DarkThrone commented on #50
IT's fixed on a PR that's in review!

[2017-04-30 23:18] klebervirgilio commented on #24
Sounds like the way to go! :) thanks!

Wondering which would be the better way to stick a comment.

I'm tempted to stick the most "voted|liked" comment.

PS: Which terminology should we use? `votes`? `likes`? `endorsements`?

[2017-05-01 11:00] wmydz1 opened #52 "signal: killed"
It don't work!

[2017-05-01 11:02] adtac opened #53 "Add frontend integration tests"
Using something like CircleCI or Travis.

I don't know how frontend testing works, so I need help with this one. The idea I have in my head: build the server and start it. Then do all kinds of actual integration tests (I've heard people talk about phantomjs for frontend testing?), like:

 - add a few root comments
 - open the reply box for one of them and then close it (verify it has actually clos

[2017-05-01 11:03] adtac commented on #52
@wmydz1 could you add more details? Please specify your OS, arch, what you did to build the server, how you executed the executable?

[2017-05-01 11:04] wmydz1 commented on #52
macos 10.12.4

[2017-05-01 11:05] adtac commented on #52
Those too :P

[2017-05-01 11:05] wmydz1 commented on #52
go run *.go
signal: killed

[2017-05-01 11:06] wmydz1 commented on #52
~ » cd /Users/samchen/Downloads/commento-master/              samchen@localhost
------------------------------------------------------------
~/Downloads/commento-master » go run *.go                     samchen@localhost
signal: killed
------------------------------------------------------------
~/Downloads/commento-master »                                 samchen@localhost

[2017-05-01 11:07] adtac commented on #52
Did you pull the dependencies before executing? I'm not really sure why this might happen.

[2017-05-01 11:13] wmydz1 commented on #52
$ cd /Users/samchen/go/src/github.com/adtac/commento/
samchen@localhost:~/go/src/github.com/adtac/commento
master ✔ $ go build .
samchen@localhost:~/go/src/github.com/adtac/commento
master ✔ $ chmod 777 comment
chmod: comment: No such file or directory
samchen@localhost:~/go/src/github.com/adtac/commento
master ✔ $ chmod 777 commento                                               1 ↵
samchen@localh

[2017-05-01 11:15] wmydz1 commented on #52
go get -v github.com/adtac/commento
yes! I use this command before!

[2017-05-01 11:16] adtac commented on #52
Found https://github.com/golang/go/issues/19734 that says that some macOS 10.12.4 builds fail. Can you try adding ` -ldflags -s` to `go build .`?

[2017-05-01 11:16] adtac commented on #52
Or can you update to `go1.8.1` which is supposed to fix this?

[2017-05-01 11:19] wmydz1 commented on #52
Thanks! it works

[2017-05-01 11:19] adtac commented on #52
Great, closing then :)

[2017-05-01 11:19] #52 closed

[2017-05-01 11:21] adtac opened #54 "README: Add a note that commento will segfault on go1.8 on macOS 10.12.4"
Not sure if this should go into the README (maybe we should start a separate docs section?), but there was a bug in go1.8 where commento will segfault. This happens only on macOS 10.12.4.

[2017-05-01 11:24] patrykkalinowski opened #55 "Send a webhook on new comments"
While commento has no notifications for admin, maybe an option to set up a webhook after each comment is posted would be useful.
This would let advanced users to send themselves an email or any notification about new comments

[2017-05-01 11:26] adtac opened #56 "Add go unit tests"
For `go test`

[2017-05-01 11:28] adtac commented on #55
New comments as replies to their comments? That sounds like a nice feature.

[2017-05-01 11:39] adtac commented on #24
@klebervirgilio I think we should allow the moderator to sticky the comment instead of doing it based on voting (because when we implement voting, sorting by votes will automatically push the most upvoted comment to the top).

This is kinda dependent on https://github.com/adtac/commento/issues/25 - a proper moderator feature should be in place before this is possible IMO.

You are welcome to try y

[2017-05-01 11:40] adtac commented on #24
And once we actually implement a moderation feature, it becomes way easier to do this.

But moderation will need a lot of design and discussion, so let's see how that goes.

[2017-05-01 12:07] adtac commented on #25
So how do we implement this? Just brainstorming here:

 - the moderation dashboard must be available only to the domain owner
 - therefore each domain must be reigstered (reject all requests from unregistered domains)
 - this means each domain owner must be given a unique access token; this token will be publically known so it can't act as identification for the moderator dashboard

The registrati

[2017-05-01 12:11] adtac opened #57 "Allow collapsing entire threads"
difficulty/medium? No idea :D

[2017-05-01 12:12] adtac commented on #25
At this point it should probably be a service haha :D

[2017-05-01 14:57] GaiusMartius commented on #55
@patrykkalinowski How does the admin avoid getting their inbox blasted with New Comment emails?

That question goes to @adtac too.

[2017-05-01 15:03] GaiusMartius commented on #49
@adtac @peteretelej

12 factor app philosophy will apply well for the case of commento. The entry on configuration is here
https://12factor.net/config

In short, store config in environment variables. One exception to this would be the port which could be specified on the commandline, a very common practice that also avoids clashing with other services having their ports specified in the environme

[2017-05-01 15:35] adtac commented on #55
He can't unless he unsubscribes to that comment feed. Kinda like a Github thread on a repo you're watching - you manually turned on the emails, so you either manually turn them off or receive them :P

[2017-05-01 15:46] adtac commented on #49
That is a completely different way to rethink config files. Thanks for the link, @GaiusMartius

I agree, the env vars config suits commento since we're mostly going to just use strings and numbers.

[2017-05-01 15:48] adtac commented on #49
@GaiusMartius btw, we have a gitter chat room now: https://gitter.im/coala/coala

Feel free to pop in and say hello :)

[2017-05-01 17:06] lccezinha commented on #56
Golang already provide `testing` package, but you can also see this package https://github.com/stretchr/testify can be a good alternative.

[2017-05-01 17:11] lccezinha commented on #41
Maybe #51 can fix this

[2017-05-01 18:16] GaiusMartius commented on #49
Will do, Thanks adtac.

[2017-05-02 14:20] kWeb24 opened #58 "CSS Selector for all styles"
For example **#commento** selector. Now JS adds styles in the end of header section so Commento and Spectre styles will override existing styles.

That means the fastest redesign you've ever made to your website but it's usually bad for it. ;)

[2017-05-03 02:12] DarkThrone commented on #58
Setting aside that if you have two nodes with the same ID you have a different problem. Yes, we need to namespace Commento. I'll probably work on this later on the week, I plan to remove the spectre dependency at all.

[2017-05-03 02:14] DarkThrone commented on #53
Already working on this one

[2017-05-03 02:20] DarkThrone commented on #50
Fixed!

[2017-05-03 02:20] #50 closed

[2017-05-03 06:58] adtac commented on #58
namespace the Commento CSS?

And how are we removing spectre? It's a nice library :) Or do you mean copying just the essential elements and putting them in the namespace?

[2017-05-03 09:18] DarkThrone commented on #58
@adtac Commento use case is relatively simple and we don't need the whole spectre file. We can just port over the styles that we need, and remove the rest. Maintenance will be way easier.

About the namespacing, yes, we need to namespace Commento styles, otherwise it will break on different sites.

[2017-05-03 09:22] DarkThrone commented on #54
I'm running 1.8.1 on OSX 10.12.4 and I see no SEGFAULT.

[code]

[2017-05-03 09:24] DarkThrone commented on #55
But there is no throttling on Commento, so anyone could blast the service with a simple script and spam services.

[2017-05-03 09:38] adtac commented on #54
`go1.8` will fail. `1.81.1` won't fail - they fixed the bug.

[2017-05-03 09:47] DarkThrone commented on #45
Since you are working on this issue, what about adding https://github.com/sirupsen/logrus or https://github.com/apex/log

That way we are standardising for log collection on logstash, Splunk and AWS.

[2017-05-03 17:30] #45 closed

[2017-05-03 17:37] peteretelej commented on #45
@DarkThrone since this was a pretty straight-forward fix, decided to close this first, as we look into logging. What are your thoughts on apex/log as compared to logrus? I've only used logrus before

[2017-05-03 17:38] #47 closed

[2017-05-03 18:21] adtac opened #60 "Some thoughts about the way forward"
:point_up: [May 3, 2017 8:56 PM](https://gitter.im/commento-dev/commento?at=5909f69c08c00c092add9ee6)

[2017-05-03 20:00] peteretelej opened #61 "check for rows iteration errors"
Check and log `rows.Next()`  iteration errors.

After each `rows.Next()` add:
[code]

[2017-05-04 16:18] kWeb24 commented on #58
@adtac We've got commento wrapper wich is a div with #commento ID. That will be enough, there's only 1 instance of Commento per post page anyway.

And yeah, Spectre is overkill here, good choice with removing it.

[2017-05-04 16:46] adtac opened #65 "Mention the gitter chat room in the README"
https://gitter.im/commento-dev/commento

[2017-05-04 18:34] peteretelej opened #66 "Update code base to new package structure"
The new package moves `main.go` to `cmd/commento/main.go`, this in turn changes a bit of functionality of the application and has brought about several issues.

I'll just group some of the things I think we need to fix here instead of opening multiple issues. Feel free to append to this list.
- [ ] Broken build; the application no longer compiles
    - [ ] Fix compile & any runtime errors
- [ ] Cr

[2017-05-05 05:47] adtac opened #69 "Use go-minify"
https://github.com/tdewolff/minify

Advantages:

 - easier development because we wouldn't need minified files in the repo at all - this will make development easier because we won't get conflicts on the min files
 - go would minify files on the fly

[2017-05-05 05:48] adtac commented on #69
Maybe have an env var option (`SERVE_MINIFIED`, default `TRUE`) with which we can toggle minification.

[2017-05-05 05:54] peteretelej commented on #69
how about instead of the addition env var `SERVE_MINIFIED`, we could serve unminified for demo/dev environment since dev implies testing

[2017-05-05 06:11] adtac commented on #69
Someone in production *might* want to serve unminified files. This is rare, but it's good to have separate options IMO.

[2017-05-05 06:14] adtac commented on #69
CC @DarkThrone because he had some ideas about the frontend pipeline

[2017-05-05 09:49] thesimpledesigners commented on #24
`IP address + unique cookie will work better`
what about spamming doesn't that clutter the server with so many hashed ip's specially when using a bot or using a tor network

[2017-05-05 20:51] GaiusMartius commented on #60
Recent evolution on the questions raised by my original comment:

From @DarkThrone

My response was as follows:

Friction is probably we're we'll come down because the resources to do content based spam filtering are not available to a small open source project. I mean, if we could solve the spam problem without Friction but Disqus can not then they would need much better engineers.

@DarkThrone,

[2017-05-06 03:04] dyu commented on #1
I've cloned the demo at http://dyu.gitlab.io/comments/
I haven't added captcha support yet.
Credit to @adtac for starting this project.

[2017-05-06 07:03] adtac commented on #1
@dyu are you planning on implementing captcha?

[2017-05-06 07:52] dyu commented on #1
@adtac I'll start looking around for existing oss solutions that are minimal and easy to integrate.

[2017-05-08 15:33] modInfo opened #72 "The command '/bin/sh -c go build -o commento .' returned a non-zero code: 1"
Step 7/9 : RUN go build -o commento .
 ---> Running in 399c950c157b
can't load package: package commento: no buildable Go source files in /go/src/commento
The command '/bin/sh -c go build -o commento .' returned a non-zero code: 1

[2017-05-08 15:47] modInfo commented on #72
mod@12:~/commento$ go get -v github.com/adtac/commento
can't load package: package github.com/adtac/commento: no buildable Go source files in /home/mod/gocode/src/github.com/adtac/commento

[2017-05-08 16:43] klebervirgilio commented on #25
So, how does that works? I'm just thinking out loud to try to understand the whole flow.

An user wants to plug the commento widget to her website.

1. She first, must register herself (providing credentials, like: email and password) on some kind of _commento web-app_?
2. Then, she creates as many domains as she wants
3. Then, on her website she will simply plug our javascript/css libs and initia

[2017-05-09 03:29] GaiusMartius commented on #72
Dockerfile needs to be updated. @adtac intends to move main.go back to the root so the dockerfile will work again once that happens.

[2017-05-09 03:33] adtac commented on #72
Current master's `docker build .` works

[2017-05-09 03:33] adtac commented on #72
@modInfo can you check again with the latest master?

[2017-05-09 13:07] pmalek opened #74 "Make Enter submit comment when on Name input field"
It would be nice to have Enter (Return) submit the comment form when we are already on Name (comment author field).

(Maybe even allow Ctrl + Enter in comment input field for submitting?)

[2017-05-09 21:15] captncraig commented on #25
Well it doesn't need to be SaaS for there to be a moderator dashboard. The server just has `/admin` routes that have a dedicated web interface for those functions. Credentials can either be supplied by the config when you run it, or printed to console on startup or whatever. Just a master password or something is probably sufficient. Multiple moderators and logins is trickier, but could be done do

[2017-05-10 03:30] peteretelej commented on #49
The env file and 12factor is cool and all, but is are config files it really worth it when we only have 2 arguments to pass in. flags or env variables with sensible defaults would make sense have less footprint and would not require sourcing a file on startup.  If the env files are just in case of future arguments remember "premature optimization is the root of all evil"

[2017-05-10 07:42] adtac commented on #49
But that argument could be applied to pretty much any architectural planning. I think env files are an obvious choice when we decided to use the 12-factor technique. I do agree with the sensible defaults idea. We could have default values that could be overridden using env files or using `OPTION=foo ./commento`.

[2017-05-10 13:02] smbkr opened #76 "GET request for retrieving comments does not work"
GET request to retrieve comments does not work, as in http.go:80, we are retrieving the url from r.PostFormValue.

Perhaps the url we want to retrieve comments for should be sent as a header, so that a GET or POST request can be used in the same way? Or use some conditional logic to either retrieve the value from PostFormValue or some other method (query param seems preferable) for a GET request.

[2017-05-10 14:08] modInfo commented on #76
`{success: false, message: ""}
message:""
success:false`

i cant write any comments

[2017-05-11 11:20] kWeb24 opened #78 "Additional route /count"
Returns number of comments using post URL as parameter.

Useful for main page post list and allow to create new comment notify without getting all the comments from db.

[2017-05-11 14:17] #72 closed

[2017-05-11 20:17] aoloe opened #80 "the live demo does not work"
the live demo on https://adtac.github.io/commento/example/demo.html fails to load https://commento.now.sh/assets/js/commento.min.js

[2017-05-12 03:03] GaiusMartius commented on #80
@adtac, was `npm install` and `npm run build` run?

I tried running this locally. I had to do the npm commands and then replace the commento.now.sh references with localhost:8080.

[2017-05-12 03:22] GaiusMartius commented on #76
That's in issue I tried to work out myself. Getting comments should be a GET operation but we use POST so that data (the url which acts as an ID for the page) can be sent to grab the relevant comments.

I tried to add a 'get' function to the commento.js. The idea was to submit the url as a cookie and then perform GET to retrieve the comments. I can't running into issues related to CORS.
Maybe you

[2017-05-12 18:47] #61 closed

[2017-05-12 18:48] #49 closed

[2017-05-12 18:49] peteretelej commented on #66
Closing as the project structure reverted

[2017-05-12 18:49] #66 closed

[2017-05-14 06:41] peteretelej opened #82 "Support HTTP Status Codes in responses"
The responses from `/get` and `/set` mostly respond with  Status OK (200), even on all errors. Add status codes for earlier consumption of the responses.

[2017-05-14 06:47] peteretelej commented on #56
working on some tests, @adtac see if you can pull in #83 as it'll help in the http testing

[2017-05-19 17:49] adtac commented on #76
Assigned you, @smbkr

[2017-05-19 17:51] adtac commented on #78
Assigning you, @smbkr (maybe mentioning you will enlist you in the assignee list :P)

[2017-05-19 18:17] #82 closed

[2017-05-19 18:43] adtac commented on #80
hmm, I'm using Docker to do the deployment. Looks like I forgot to do run the `npm` stuff in the Dockerfile.

Opened https://github.com/adtac/commento/pull/86 - this should fix it. Once it does, I'll redeploy.

[2017-06-01 18:37] brandondrew commented on #80
Just a reminder: this is still broken. @adtac

[2017-06-01 18:41] adtac commented on #80
Yeah, I just haven't got around to fixing it. I'm using now.sh's free server and Docker to deploy, but their service has been acting up for the past few days (docker pushes aren't working for whatever reason).

If you have a spare server running that you can volunteer for this, please let me know :) It's just a docker deployment running a go service on one port.

Meanwhile I'll look into other sol

[2017-06-01 19:21] adtac commented on #80
Ok I've temporarily patched it with a hacky solution :3

I'll implement something better over the weekend.

[2017-07-14 00:20] DarkThrone commented on #69
Whoa, GH never sent an email notifying me about this mention. To be honest, I looked at go-minify, and the JS minifier is half implemented. The current solution (Uglify) is far superior in compression and reliability.

Serving unminified files to production could be used for debugging, but that it's not a problem that Commento should solve, that's just a bad practice and developers should avoid th

[2017-08-17 08:12] Superman132 commented on #24
Instead of IP + unique cookie, I think email + up will be better because there won't be a need to store and track cookies on user

[2017-08-19 18:29] jco2 opened #96 "Support for Github/GitLab Pages"
Hello,

Anyone using Github/Gitlab Pages that would be interested in using Commento? [Staticman already does this](https://github.com/eduardoboucas/staticman#setting-up-a-repository), I think it would be nice to have this feature in Commento!

[2017-09-10 19:36] AkshayAgarwal007 opened #97 "Internationalization/Localization Support"
From a brief overview, it looks like currently everything is hard-coded in English but one would want to use commento in sites which are not in English. This would require:

* Localizing the UI strings (things like 'Post Comment' , 'Reply' etc.)
* Formatting relative dates in a locale independent manner.
* Maybe a config parameter can be added to force a particular locale or detect the browser's l

[2017-09-17 17:48] adtac opened #98 "Allow dynamic loading of resources"
Like some news outlets do - download the JS/CSS only if the user explicitly asks for them. Easier on the server and cheaper for the user (if the data is charged by the byte).

[2017-10-25 23:27] rodorgas commented on #19
What if we place the comment on top? Even if it's on chronological order, we should put the new comment on top just for feedback. If the user refreshes the page, his comment will go to correct position. I've just checked and this is the disqus behaviour.

Animations and other visuals clues won't solve this issue IMO, because the user simply is not seeing his comment.

[2017-10-26 10:28] gajus opened #100 "The Coral Project"
Seems exactly the same as the Coral Project, and Talk is far more advanced (feature wise)... https://coralproject.net/products/talk.html

[2017-10-26 10:51] adtac commented on #100
Talk looks really cool! I looks like it predates Commento as well. I didn't know Mozilla had their own comment engine as well. I had applied for funding from Mozilla (to develop Commento), so this is going to be weird haha.

Interestingly, Talk never turned up when I was searching for Disqus alternatives back when I created Commento.

It does look like it's way more advanced. While Commento develo

[2017-10-26 17:03] gajus commented on #100
You say that, but there are hundreds already. Instead, the focus should be to create at least one solid alternative. Coral Project has been in development for long time.

Why they completely neglect any form of marketing the project? This is completely beyond me. Talk is being used by some of the biggest websites on the Internet.

[2017-10-27 07:29] #56 closed

[2017-10-27 07:29] #74 closed

[2017-10-27 07:34] adtac commented on #100
Well, I wasn't aware of any at that time, so I don't really know I can do about it now.

Maybe you should file an issue about that on the talk repo? :D

Closing this issue as it's not really one I'm personally concerned with. I still feel having alternatives is a good idea. Feel free to continue the discussion.

[2017-10-27 07:34] #100 closed

[2017-10-27 09:57] MrSaints opened #107 "Tag Docker images"
It'd be great if there were versioned releases, and tagged Docker images. A few days ago, the Docker image, `adtac/commento:latest`, was not working. After pulling again, it worked. There's no guarantee that it can break again.

On that note, it'd probably be wise to do some error logging rather than omitting `err` entirely.

[2017-10-27 14:08] adtac commented on #107
Good point, I'll make a 0.1 release and tag that in docker.

[2017-10-27 15:58] adtac commented on #19
@rodorgas how about moving to the comment with a `#comment-id` hash in the URL?

[2017-10-27 16:00] adtac commented on #19
I've added the spinner thing: on pressing "Post", the button is disabled and made into a spinner. At the end of all HTTP requests, it's un-disabled and the spinner is removed.

The "your comment should be at the top on posting" part is a little different, so I'll open a different issue for that.

[2017-10-27 16:40] #19 closed

[2017-10-28 04:49] adtac commented on #21
Not entirely sure if this is still relevant since we limit the nesting level. After a point (level 5, I think), all comments have the same parent and aren't nested anymore. Thus the indentation won't get out of hand.

Closing. Feel free to argue otherwise.

[2017-10-28 04:49] #21 closed

[2017-10-28 04:59] #54 closed

[2017-10-28 05:00] adtac commented on #53
@DarkThrone been a while :)

Any updates? I've added Travis CI for integration testing if that'll help.

[2017-10-28 05:05] adtac commented on #69
I think we have solved this with uglify. Currently, running:

[code]

should use uglify (through gulp) to minify all .js files (currently there's only one: commento.js).

The compression ratio is:

[code]

5.4/17 = 31%, which is pretty nice. If someone wants to propose a different minifier, feel free to open a new issue.

[2017-10-28 05:05] #69 closed

[2017-10-28 06:32] adtac commented on #41
I've fixed this in the demo. Comments are now deleted every hour instead of 30 mins.

[2017-10-28 06:32] #41 closed

[2017-10-28 06:33] adtac commented on #80
I created a digitalocean droplet to host the demo: it's so much better now and it works perfectly. Check out http://adtac.pw:8002/

[2017-10-28 06:33] #80 closed

[2017-10-29 23:34] rodorgas commented on #19
Scrolling to the comment seems a great solution. The comment could be briefly highlighted, also.

[2017-10-30 08:29] adtac opened #114 "Scroll to comment on posting"
Using a `#id` location.hash thing.

[2017-10-31 15:44] adtac commented on #65
https://github.com/adtac/commento/commit/bb33cd96a5857140cb6bc82e26081ec0703853cf does this.

[2017-10-31 15:44] #65 closed

[2017-10-31 16:38] adtac commented on #96
@jco2 do you supporting static pages served with github/gitlab pages? You can embed Commento on any HTML page with a simple `<script>` call; and that includes github/gitlab pages. However you need to run Commento on one of your own servers as a backend.

Or did you mean to ask for a service that'll just work with github/gitlab pages (without you having to bother with setting up a backend server)?

[2017-10-31 16:40] adtac opened #116 "Comment timestamp shows negative seconds ago"
See https://github.com/adtac/commento/issues/97

[2017-10-31 16:44] #116 closed

[2017-10-31 16:46] adtac commented on #97
@AkshayAgarwal007 thanks for the issue!

I'm pretty sure I've fixed the '-2s seconds ago' issue with https://github.com/adtac/commento/pull/117 - it'll display 'just now' for comments that were posted less than 5 seconds ago (for which -2 definitely qualifies).

The localization support featuer is still up for grabs if anyone wants to implement!

[2017-10-31 18:25] jco2 commented on #96
I meant the latter. You know what? that's awesome! Thanks a lot!

[2017-11-06 21:20] nkprince007 opened #126 "Emoji support"
The current implementation of comments lacks full markdown support and I'm not sure it's a point of discussion for the near future.

But it'd be nice to at least have some free licensed open-source emojis like [emojione](https://github.com/emojione/emojione) or [emojify](https://github.com/emojione/emojify.js).

[2017-11-07 11:38] adtac commented on #126
By emoji do you mean `:word:` to symbols or the unicode characters themselves?

Unicode is already supported FWIW.

[2017-11-07 23:33] nkprince007 commented on #126
Yeah, I meant `:word:` symbols.

[2017-11-08 10:42] adtac commented on #107
A 0.1.0 docker tag exists now.

https://hub.docker.com/r/adtac/commento/tags/

[2017-11-08 10:42] #107 closed

[2017-11-08 10:46] MrSaints commented on #107
Cheers @adtac

[2017-11-08 10:54] adtac opened #129 "Automatically run `init` on load? (add your opinion)"
Not sure if this is a good idea.

Go through each `<script>` tag with `getElementByTagName` and see if the `src` attribute matches `.*commento\.(min\.)?js$`. If it does, extract the `serverUrl` from that string automatically.

[2017-11-11 05:12] cweagans opened #131 "Pack static assets into the deployed binary"
It would be awesome to be able to deploy commento as a single binary with all the assets packed inside.

https://github.com/jteeuwen/go-bindata and https://github.com/elazarl/go-bindata-assetfs would make that possible, but we'd need to figure out how to make it not get in the way of development. Maybe it can just be something that happens in a release process?

[2017-11-11 19:13] adtac opened #132 "Create AUR package"
Now that we have [binary release packages](https://github.com/adtac/commento/releases), I'm hoping someone experienced with the [AUR](https://aur.archlinux.org/) would create a PKGBUILD for the project. The .tar.gz that's downloadable for 0.1.0 has an amd64-linux binary and the assets directory.

[2017-11-14 19:02] adtac commented on #57
Solved with https://github.com/adtac/commento/commit/689be47fde173e7576af9c5f8b594d90fb60c719

[2017-11-14 19:02] #57 closed

[2017-11-14 19:04] adtac commented on #58
Moved the whole thing from spectre to a custom styling CSS. It looks much better now :) Check it out.

[2017-11-16 14:24] kWeb24 commented on #58
@adtac Looks better now but there's still styles for elements like 'a' wich will interfere with the template styles i think. This should not be a problem if these styles are above template styles (so the template overrides them) but here the commento.css seems to still be added by js at the bottom of the head section.

I have not tested it yet, I will look into it later and let you know.

[2017-11-16 14:50] adtac commented on #58
Yeah, that's why I didn't close the issue.

The problem is more difficult than it seems: since we're using showdown for markdown rendering, adding a class to links will be a little more work. We'll probably need to fork showdown (or a similar markdown library) and make changes (provided the license allows for merging the changes in as MIT).

This would also give us more control over what markdown

[2017-11-16 17:42] kWeb24 commented on #58
What about mentioned before #commento wrapper? I don't know showdown but styling within the #commento selector should not affect the markdown.

Simple solution, and that's how I solved my problem when I added the issue.

[2017-11-17 05:45] adtac commented on #58
Wow, I didn't know you could do: (Clearly, I'm not very good at CSS :P)

[code]

That should solve our problems entirely :)

[2017-11-17 05:46] adtac commented on #58
I'll make a patch this weekend.

[2017-11-17 10:27] adtac commented on #126
I just want to quickly add that I don't want smileys turning into emojis. Gitter's stupid emojis for smileys make me physically wince in pain.

`:tada:` turning into :tada: is fine, but `:)` turning into 😄 is not.

[2017-11-17 11:46] kWeb24 commented on #58
Knowledge +1 :)

[2017-11-17 15:16] nkprince007 commented on #126
Yeah. That’s especially annoying and unintended.

[2017-11-18 11:48] adtac opened #138 "Add static code analysis for the frontend"
We should lint our CSS and JS files with coala as well.

[2017-11-18 11:49] #58 closed

[2017-11-18 11:51] adtac commented on #58
Solved with https://github.com/adtac/commento/commit/25e304cd124f4a0214b3cf27d3c1cd24237be5d9

Here's what it looks like now:

![img](https://user-images.githubusercontent.com/7521600/32979991-ce7c670e-cc84-11e7-8c9c-f7209864006a.png)

As you can see, the Lorem Ipsum part (and the link part) are not styled by commento (it should be sans-serif), but the comments are :)

[2017-11-21 02:23] nkprince007 commented on #96
@adtac any progress on the service?

[2017-11-21 02:28] adtac commented on #96
@nkprince007 it's coming soon™ :P A safe release date would some time early next year.

[2017-11-28 04:59] adtac opened #142 "Add cache headers for asset (css/js) responses"
Cache for a configurable amount of time.

[2017-11-28 08:14] adtac opened #143 "Use icons instead of text for reply/collapse buttons"
The text looks out of place and occupies too much space.

I'm no designer, so I'll need some help here. Preferably an SVG/CSS icon so that we can add it inline.

[2017-11-28 14:19] Trollwut commented on #126
You might look into Mastodon's implementation of emojis. Smileys keep being smileys, but for every emoji there is a `:description_of_emoji:` way around. They also have that emoji-button, where a selection window pops up to insert the unicode character.

[2017-12-03 19:36] nkprince007 opened #145 "Add support for permalinks to comments"
This would be nice addition as it lets us share content with other sites.

<img width="763" alt="screen shot 2017-12-04 at 1 05 36 am" src="https://user-images.githubusercontent.com/17202890/33528950-536df82c-d88f-11e7-831e-f5ed762ebc98.png">

Like that **alt-click** thingy on gitter.

[2017-12-11 09:26] aravindhsampath opened #146 "Add a way to self-host Commento without using Docker?"
Commento looks neat for use in personal website.

Any chance you could provide instructions to build Commento on a Unix/Linux Server with out using Docker?

I understand I can look into the DockerFile, but I'm not proficient with Docker/npm to do it right.

It would be amazing to have a workflow like that of [HomeBrew](https://brew.sh) where you download a script that downloads the latest version

[2017-12-11 13:17] adtac commented on #146
You have two options if you don't want to use Docker:

 - use the amd64 linux release binaries: https://github.com/adtac/commento/releases - but since you mentioned Homebrew I think this might not be the option for you.

 - build from source: this will work for pretty much every arch/OS.

I should mention this in the docs. When I wrote the README, I didn't really make proper point releases, so doc

[2017-12-11 13:24] adtac commented on #146
I'll make a commit fixing that later tonight.

[2017-12-11 15:57] #146 closed

[2017-12-12 23:31] nkprince007 commented on #132
Hey, @adtac it'd be awesome to have it for macOS (Homebrew) as well.

[2017-12-13 06:49] adtac commented on #132
@nkprince007 we'll require the `assets/` directory in the targz as well. I'll use goreleaser to automatically build binaries for darwin-amd64 instead of your tarball; that okay?

And no, I'm not calling people using OS X idiots :P :P

[2017-12-13 13:29] nkprince007 commented on #132
Yeah, sure use goreleaser.

And it's not about macOS users, it's about [OSX Server](https://www.apple.com/in/macos/server/).

[2017-12-13 19:05] somenxavier opened #148 "TypeError: t is null error"
Details in firefox inspector:
[code]

[2017-12-13 19:21] adtac commented on #148
Unfortunately, this is not a very useful error report - since `commento.min.js` is minified, it'll be difficult for me to infer anything from this. Instead of:

[code]

... can you use:

[code]

and provide me with the error report from firefox inspector?

Thanks!

[2017-12-14 13:11] somenxavier commented on #148
Here you have it:
[code]

[2017-12-15 08:43] chriscowley commented on #1
Please no, do not do Captcha, it is a horrible solution for everyone concerned.

https://boagworld.com/usability/my-definitive-guide-to-why-captcha-sucks/

[2017-12-15 09:17] adtac commented on #1
@chriscowley currently, we have the honeypot technique mentioned in the article. Hopefully, we can add some basic spam filtering techniques on the backend. And finally, when the moderation dashboard is added, you can manually filter comments. These three should be sufficient in my opinion.

I have been mildly skeptical about implementing captcha (and recaptcha in particular; their privacy policy i

[2017-12-16 16:57] schollz commented on #148
I'm getting something similar:

[code]

[2017-12-17 12:38] MEL27 opened #149 "Should state that a div with id="commento" is needed to embed Commento"
In Embedding in HTML of Getting Started in README.md, it is stated that simply loading commento.min.js and init() would be enough to embed Commento. In reality, a div with id="commento" is needed in addition to let the comment boxes show up. (Correct me if I'm wrong.)

The section should state that a div with id="commento" is needed, or it would be very confusing.

I will make a pull request.

EDI

[2017-12-17 12:53] MEL27 commented on #149
For pull request see https://github.com/adtac/commento/pull/150 .

[2017-12-19 00:29] modInfo opened #151 "How to add comment to specific URL?"
How to add a comment to the page, use custom url address?

Would like to add a comment from http://example.com/ but should be added as http://anotherexample.com/post/

Is there a variable to present the url address?

[code]

[2017-12-19 10:24] #149 closed

[2017-12-19 10:26] adtac commented on #151
This is currently not possible; Commento uses whatever url is present in the `document.location`. However, you're right, we should allow for custom IDs. We could even remove the limitation that this should be a URL: any unique ID would be sufficient (like `post-1234`).

[2017-12-19 10:27] adtac commented on #151
I *think* this feature could be implemented entirely on the frontend (hence the `area/frontend` label), but if you think the backend has to be changed, lemme know and I'll add the label.

[2017-12-19 10:28] adtac commented on #148
Thanks a lot for reporting this, @somenxavier and @schollz

Looking into it.

[2017-12-28 19:52] klummy commented on #151
@adtac Hello, I will like to pick this up. Is anyone working on it already?

[2017-12-29 05:33] adtac commented on #151
@klummy nope, it's all yours :)

[2018-01-03 07:50] lrstanley commented on #131
I'd suggest using https://github.com/GeertJohan/go.rice rather than go-bindata for the sole purpose of how go.rice is easy when developing.

1. It allows the application to compile, without having to generate files first. Meaning code completion still works properly, and it doesn't complain that variables don't exist (unlike go-bindata, where you have to generate the bindata file first.)
2. If the

[2018-01-03 07:55] lrstanley commented on #131
I should also mention that the other benefit is that you also don't really need to check in the bindata-generated file to git, because it can work from both disk, and from the file. This is also beneficial because it cuts down on clutter in git history and similar, for when any assets are updated. If one was to use go-bindata, you would likely need to check it in.

[2018-01-03 16:04] cweagans commented on #131
Updated the title to reflect my actual intent. I don't have strong feelings about which tool gets used, but I do think packing the assets into the final binary would be awesome.

[2018-01-24 10:47] Nhoya opened #154 "XSS through javascript entities in URLs markdown parsing"
Is possible to trigger an XSS using an embedded base64 object in markdown.

PoC: check the demo page

[2018-01-24 11:40] hshhhhh commented on #57
Now you need to store status of collapsed threads somewhere in localStorage to keep collapsed threads collapsed.

[2018-01-24 12:50] adtac commented on #154
This is a self XSS that requires interaction, correct?

Disabling `data:` links in markdown URLs should solve this. Any corner cases?

Thanks for reporting this issue! It's pretty cool that you found it :)

[2018-01-24 12:52] adtac commented on #154
BTW, Chrome 63.0.3239.132 (Official Build) (64-bit) seems to prevent these.

[2018-01-24 13:33] Nhoya commented on #154
@adtac yes, requires to click on the link. Chrome blocks every attempt of XSS by default but for example, on firefox works

[2018-01-24 13:57] adtac commented on #154
Example exploit comment because the demo refreshes the database every 24 hours:

    data:text/html;base64,PHNjcmlwdD5hbGVydCgxKTwvc2NyaXB0Pgo=

[2018-01-24 14:02] Nhoya commented on #154
Well, is not really `Self` is just a simple XSS with user interaction. This is not possible only through `data:` but every javascript entity, you can use `vsbscript:` for examble or `javascript:`

[2018-01-24 16:10] adtac commented on #154
Agreed, a whitelist is better than a blacklist here.

[2018-01-28 18:06] adtac commented on #132
@grawlinson awesome! Lemme know if you need anything from my side.

[2018-01-30 18:10] cweagans commented on #25
I would like to suggest that you handle the admin dashboard a little differently. Don't bother with auth and all that. Let the webserver handle it. Serve the admin dashboard from a completely separate vhost (or however the administrator configures it), and as long as it's pointing at the right sqlite database, then you should be all set.

[2018-02-17 04:00] jayvdb opened #156 "Private comments"
I have a use case for adding the ability for a small group of predefined users to discuss webpages 'privately', but the conversation needs to be captured/archived.

https://gitlab.com/ciptamedia/ciptamedia-dev.gitlab.io/issues/59

[2018-02-17 07:00] adtac commented on #156
Is the webpage itself private or do you want a private discussion on a public webpage? If latter, is a different URL for the discussion page okay?

[2018-02-17 07:02] adtac commented on #156
Basically, my idea is this: since the URL associated with each comment can be modified (not right now, but can be done with a couple of tiny changes), you pass the public page's URL when loading Commento. The page itself can be private (behind basic auth, for example).

[2018-02-18 01:44] jayvdb commented on #156
The page is currently public, and the source code is public, but it is hosted on Netlify unpaid plan so [http auth](https://www.netlify.com/docs/headers-and-basic-auth/) is not available.

The way to obtain the private comments out of Commento needs to be protected.

It sounds like the server with private comments needs to be isolated from any public comments, otherwise fiddling with the URL could

[2018-02-18 06:35] adtac commented on #156
Ah, I see. The API needs to be behind authentication as well since otherwise it'll just be security by obscurity (others can't access comments *only* because they don't know the second API domain). I'll think about the best way this can be implemented in the backend.

[2018-02-25 05:54] juho-hanhimaki commented on #55
+1 for this feature, would be super useful for having more interaction with people leaving comments. Basically, new comment comes -> I get a notification and can reply if I want to.

Spam for webhook notification is not as bad a problem as spam for email notification. That's because one can do filtering on the webhook's receiving side.

However even if this feature was implemented there is still o

[2018-02-28 18:53] theel0ja opened #157 "Website link not working"
![image](https://user-images.githubusercontent.com/5832930/36806666-7378d79e-1cc9-11e8-84a9-7fb6634c7ca1.png)

Same in Chrome

[2018-02-28 18:55] theel0ja commented on #157
Found the problem..

![image](https://user-images.githubusercontent.com/5832930/36806737-aeb9b5d0-1cc9-11e8-846f-3f59a58a60af.png)

[2018-02-28 18:55] #157 closed

[2018-02-28 18:58] theel0ja commented on #157
Reported to F-Secure about false positive

[2018-02-28 19:19] adtac commented on #157
Thanks!

[2018-03-05 11:57] theel0ja commented on #157
![](https://user-images.githubusercontent.com/5832930/36973842-2e23df56-207d-11e8-8a64-476e755de986.png)

[2018-03-05 15:11] adtac commented on #157
Thanks a lot for your time and effort to get this approved, @theel0ja!

[2018-03-08 15:13] davidak opened #158 "Homepage field"
It would be nice if commentators could add the URL of their Homepage, so their name is a link to it.

This way you can find out more about the people commenting.

[2018-03-14 19:35] adtac commented on #158
Excellent idea :+1:

This will work even better when authentication is implemented. People can use something like Google OAuth which will automatically give us a link to their Google profile, for example.

[2018-03-14 19:36] adtac commented on #158
However, we really need to make sure this isn't used for spam.

[2018-03-14 19:39] limafoxtrottango opened #160 "UX changes"
The current UX looks a bit too primitive and brutalist. I think the developers and users would like the following changes alike:

1. Fix the comment box at the bottom. This way, the user does not have to scroll all the way up to make a comment.

2. A placeholder for the main comment text area.

3. Demarcation b/w parent comments.

[2018-03-17 01:33] DoctorBud opened #161 "Missing packages during build... cannot find package "github.com/joho/godotenv""
I'm building via `go build`, and I got the following errors:
[code]

I fixed the problem by installing the dependencies with:

[code]

and now the build succeeds. So I have a workaround.

I'm not a Go programmer, so I'm not sure of the correct fix. Presumably some config file needs to be changed to make these dependencies explicit. I'm creating this issue mostly for anyone else who runs into this.

[2018-03-17 17:38] GotoFinal opened #162 "Due to default values in configuration file you can't choose a port using own env variables."
https://github.com/adtac/commento/blob/master/config.go#L13
and then all that values are moved to env:
https://github.com/adtac/commento/blob/master/config.go#L36

So any values changed using "export" command or any other tool will be ignored.
I don't think it should work like that... why use env values at all if you can't modify them outside application?

[2018-03-19 02:31] dertuxmalwieder commented on #158
In most cases, that feature does not add a value to a discussion, honestly.

[2018-03-19 02:37] dertuxmalwieder commented on #129
My opinion:

While integrating Commento into [my blog software](https://bitbucket.org/tux_/blogcpp) (you're welcome), I found that it seemed unnecessary to set up the server URL twice - all other comment systems seem to do that in an easier way.

So my +1 goes into your good idea. :)

[2018-03-19 07:13] adtac commented on #129
Thanks for integrating!

A snippet like:

[code]

is what I'm considering. `data-div` would be a selector for the div to fill with comments.

[2018-03-19 07:14] adtac commented on #161
Hmm, I wonder how the CI didn't pick this up. I'll take a look at this, thanks for reporting!

[2018-03-19 07:17] adtac commented on #162
Right, there should be a `Getenv` check to see if the variable is already defined. If it's not, set it. So `export` > `.env.development.local` > `.env.test.local` > ... > `.env`.

Thanks for reporing! I'll fix this.

[2018-03-19 07:20] prologic opened #163 "Demo?"
Can you provide a demo?

[2018-03-19 07:20] adtac commented on #163
Hi, I'm [GitMate.io](https://gitmate.io)!

It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the

[2018-03-19 07:20] adtac commented on #163
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/adtac/commento/issues/41 (Demo comment deletion), https://github.com/adtac/commento/issues/47 (Reduce demo env logging verbosity), and https://github.com/adtac/commento/issues/80 (the live demo does not work).

[2018-03-19 07:27] adtac commented on #163
@prologic you can find the demo here: https://commento.adtac.pw/

[2018-03-19 07:27] #163 closed

[2018-03-19 07:57] dertuxmalwieder commented on #129
Looks good!

[2018-03-20 21:43] #129 closed

[2018-03-20 21:43] #162 closed

[2018-03-22 12:13] davidak commented on #158
@dertuxmalwieder not directly, but it helps to build a community with other bloggers and readers.

I actually found reallife friends from comments on my wordpress blog.

[2018-03-22 13:26] SnorlaxYum commented on #158
@adtac You could add a function allowing users to disable the URL field. Thus whether to have a URL field is up to the user.
I like this idea, too.
If u add this feature, much more people will like to jump to commento.
It's a must for many people like me.

[2018-03-22 13:28] SnorlaxYum opened #166 "Import Isso's database file into Commento"
Is the database file of isso usable in commento?
If not, then how to convert it to the one used by commento?

[2018-03-28 20:41] mro opened #167 "Compile without sqlite: database abstraction for something like `.gob`"
I'm wondering if sqlite helps more than it blocks here. It IMO requires cgo which make cross-compilation and cross-platform availability much more pain. And we're talking self-hosting load rather than wp.com.

Did you consider primitive `.gob` persistence?

[2018-03-29 05:45] adtac commented on #167
Hmm, good suggestion. We already have support for database abstraction (but sqlite is the only implemented DB, however; others should be trivial). But honestly, our current implementation of this abstraction won't actually help your case as sqlite is still compiled into the binary.

If you want to be completely rid of sqlite, there has to be some sort of conditional compilation [1]. Maybe someone

[2018-03-29 05:49] adtac commented on #166
Isso's db file isn't compatible with Commento out of the box, but a script to convert it might be possible.

Renaming this issue.

[2018-03-29 17:13] mro commented on #167
I'm rolling a radical experiment over at https://github.com/mro/ShaarliGo and do fine with 5k posts so far in a xml file (which is 10x slower I/O than gob).

So, dependant on the intended use-cases and quantity structure, there may not be a need for a db at all?

What are the numbers of posts/users/comments you target?

[2018-04-01 02:41] SnorlaxYum commented on #166
@adtac If u r planning to do this, consider do the issue #158 as well. 'Cause isso contains homepage field.

[2018-04-02 01:35] amca01 opened #168 "Difficulties setting different port"
As my port 8080 is in use, I've tried to start commento with each of the methods given for setting a different port.  Such as, for example:

    export COMMENTO_PORT=9000
    ./commento

But in each case I get the error that the server cannot be started on port 8080.  That is, my attempts to change the port are ignored.  So - how do I start commento on a different port?  Thank you!

[2018-04-02 09:35] adtac commented on #168
@amca01 are you using the latest release from master? This was a known bug in 0.2.1, but I fixed it a few days ago. I'll soon make a 0.2.2 release.

[2018-04-02 09:48] adtac commented on #168
@amca01 [Commento v0.3.0](https://github.com/adtac/commento/releases/tag/v0.3.0) has been released. Can you please try out that version and report whether you're still facing this issue?

[2018-04-02 10:47] adtac commented on #98
This has been resolved.

[2018-04-02 10:47] #98 closed

[2018-04-02 11:00] adtac commented on #1
@dyu @smbkr @mongrelion @chriscowley I've decided we'll not be implementing reCaptcha (or any other captcha service, for that matter) in Commento.

We now have Akismet integration built into Commento with https://github.com/adtac/commento/pull/169. Askimet is probably the best at detecting and filtering spam as they have a huge corpus of what's spam and what's not, so this should stop most malicio

[2018-04-02 11:00] #1 closed

[2018-04-02 11:27] amca01 commented on #168
I had downloaded the latest release which was 0.2.1 then, but I've just downloaded 0.3.0, and the port is indeed changeable.  Thank you!  The difficulty I have now is managing a secure connection with https...

[2018-04-02 11:40] adtac commented on #168
Awesome :+1: Closing this issue then :)

Re https: you may want to check out nginx+letsencrypt. That's what I'm using in https://commento.adtac.pw/ and it works flawlessly.

[2018-04-02 11:40] #168 closed

[2018-04-02 19:10] #154 closed

[2018-04-02 19:12] adtac commented on #154
This issue was doubly good:

 - No more XSS because I'm using `bluemonday`'s `UGCPolicy`

 - Removed showdown dependency. This reduced the gzipped+minified JS/CSS paylaod size from 17 KB to **just 4.2 KB**!

Thanks a lot for filing this issue, @Nhoya!

[2018-04-08 22:19] pjebs opened #172 "Different blog posts"
How does commento allow us to indicate which page commento is operating on. That way the 1 database can work for all pages we want to use.

Am I missing something? I don't see it on the readme.

[2018-04-08 22:25] pjebs commented on #172
If it uses the url path to identify and store which blog post, then perhaps a feature request is the ability for the developer to provide a identifier since the url path could change easily.

[2018-04-12 02:38] pjebs commented on #151
https://github.com/adtac/commento/issues/172

Any progress @klummy

[2018-04-13 01:26] decimoseptimo commented on #143
Being this a discuss alternative, why not just mimic their UI? It is simplier to stick with tried and true.
If you still want to use icons, why not [comment](https://fontawesome.com/icons/comment?style=regular), & [cancel](https://fontawesome.com/icons/ban?style=solid).

[2018-04-13 01:44] decimoseptimo opened #174 "Headless, APIs?"
https://www.gatsbyjs.org/blog/2018-04-10-how-to-handle-comments-in-gatsby-blogs/#client-side

Have you think about REST/GraphQL APIs? Is it in the project scope?

[2018-04-19 14:31] adtac opened #176 "Recommend a <noscript> tag in docs"

[2018-04-19 14:34] adtac commented on #174
REST: I originally wanted the API to be REST-compatible, but went and implemented a custom solution.

GraphQL: I haven't used this before, but it looks very interesting!

To both: yes, this is definitely in the project scope, but maybe not a priority at the moment. The API itself is changing rapidly (we're still in 0.x), so I think it makes sense to add these after we achieve API stability.

[2018-04-19 14:35] adtac commented on #172
Yes, this is a fairly requested feature. Closing as it's a duplicate of https://github.com/adtac/commento/issues/151

Let's continue further discussion there :)

[2018-04-19 14:35] #172 closed

[2018-04-19 14:37] adtac commented on #151
Ideally, something like `<script src="https://blah.com/js/commento.min.js" data-id="whatever-you-want">` would work. If you don't give a `data-id`, `document.location` will be used.

[2018-04-20 02:22] chenxsan opened #177 "No commento.min.js in the 0.3.1 release"
I'm running commento [0.3.1](https://github.com/adtac/commento/releases/tag/v0.3.1) on my server, and found that there's no `commento.min.js`, only `commento.js`. Also `commento.js` is trying to load `commento.min.css` that doesn't exist.

Thought it needs minified first before release?

[2018-04-25 14:38] kaushalmodi opened #180 "Webmention support?"
Hello,

Have you heard of [Indieweb][1]? It would be awesome if you can support sending [Webmentions][2] for posted comments.

That would go better with your Commento hosting service. There, Commento will do the job of only saving the comments to the database, optionally saved in both pre-rendered plain text and HTML-rendered versions, and then just send a Webmention to the associated post.

The w

[2018-04-25 17:34] jamesbvaughan opened #181 "Import comments from Disqus"
A lot of commento users are likely coming from Disqus, and an awesome feature for commento would be the ability to pull in old comments. Disqus can export comments in a custom XML format explained here:
https://help.disqus.com/developer/comments-export

I might be able to try to add this in a few weeks, but if there are other people that would like this feature and can work on it sooner, that woul

[2018-05-01 15:32] jamesbvaughan opened #183 "Show the use an error on a permissions problem"
I ran into an issue recently where my commento process did not have write permissions on my database file. When a user tries to post a comment in this situation, they just see a never-ending spinner.

I think it would be more helpful to have a timeout, after which the user is shown an error message indicating that there was a problem posting their comment on the server-side.

[2018-05-03 08:48] saiteja09 opened #184 "Commento listening on tcp6, force it on tcp"
Hi,
When I start commento server, its only listening on tcp6 addresses, is there a way to force it to listen on tcp?

[code]

[2018-05-06 03:01] arpang commented on #161
I ran into the same issue!

[2018-05-28 23:04] NightMachinary opened #186 "[Question] How to set up the backend on a server that is already serving content?"
Preferably using a custom port.

[2018-05-30 07:04] adtac opened #187 "Import comments from JSON (or any intermediate representation)"
Someone using a custom engine can export comments to JSON and we can import from JSON. Obviously, we define the spec for the JSON.

(BTW, it doesn't have to be JSON. XML/YAML/whatever would work too, but I think JSON is probably the most common?)

[2018-06-07 23:10] ericuldall opened #189 "Moderation Interface"
Under features it says:

I don't see any documentation on how to use this moderation interface. Can you provide some?

[2018-06-08 03:43] adtac commented on #189
He @ericuldall! The moderation interface is a part of a rewrite I've been doing for the past few months. The current default branch (`v0`) will be retired soon. You can follow the development [here](https://gitlab.com/commento/commento-ce). We're #movingtogitlab too :)

However, here's a sneak peek into what it looks like:

![screenshot from 2018-06-08 09-12-27](https://user-images.githubuserconte

[2018-06-08 03:43] #189 closed

[2018-06-08 18:13] ericuldall commented on #189
Is there a docker image built with the latest dev version I can try?

[2018-06-11 10:35] adtac commented on #8
Exported to https://gitlab.com/commento/commento-ce/issues/23

(If you're wondering why, we're moving all development [to GitLab](https://gitlab.com/commento/commento-ce))

[2018-06-11 10:35] #8 closed

[2018-06-11 10:36] adtac commented on #11
Sounds like this feature is a no-go.

(BTW, we're moving all development [to GitLab](https://gitlab.com/commento/commento-ce).)

[2018-06-11 10:36] #11 closed

[2018-06-11 10:40] adtac commented on #24
@rrggrr @klebervirgilio @thesimpledesigners @Superman132 Thanks a lot for the issue! This is definitely possible now in the new version since we have an admin panel, a moderator dashboard, etc.

We have, however, moved all development [to GitLab](https://gitlab.com/commento/commento-ce). Therefore, this comment has been exported to https://gitlab.com/commento/commento-ce/issues/24 (with a link bac

[2018-06-11 10:40] #24 closed

[2018-06-11 12:18] adtac commented on #40
@rrggrr @klebervirgilio @captncraig @cweagans This feature has now been implemented! In the latest version of Commento (basically a rewrite), you now have the option to require all comments to go through moderation.

@elamperti @acz13 @DarkThrone This bug has been fixed in the latest version of Commento (basically a rewrite).

BTW, we've moved all development [to GitLab](https://gitlab.com/comment

[2018-06-11 12:18] #40 closed

[2018-06-11 12:20] adtac commented on #43
@DarkThrone I think we have this now.

BTW, we've moved all development [to GitLab](https://gitlab.com/commento/commento-ce). So I'm closing this issue as all issues are now being moved to GitLab. Cheers!

[2018-06-11 12:20] #43 closed

[2018-06-11 12:22] adtac commented on #53
@DarkThrone Just a heads up (you've probably received other notifications, sorry for the notification flood; I promise this is a one-time thing).

We have moved all development [to GitLab](https://gitlab.com/commento/commento-ce). Therefore, this comment has been exported to https://gitlab.com/commento/commento-ce/issues/25 (with a link back to this issue for history).

[2018-06-11 12:22] #53 closed

[2018-06-11 12:27] adtac commented on #60
@GaiusMartius Just a heads up.

We've moved all development [to GitLab](https://gitlab.com/commento/commento-ce). I think this issue is outdated, so I'm closing it. If you feel this is still relevant, please feel free to open a new issue in the GitLab repo issue tracker. Cheers! :)

[2018-06-11 12:27] #60 closed

[2018-06-11 12:29] adtac commented on #76
@smbkr @GaiusMartius I'm afraid this issue is no longer valid in the new version (basically a rewrite).

We have also moved all development [to GitLab](https://gitlab.com/commento/commento-ce). Therefore, I'm closing this issue as I want to make the GitLab repo the central point of development (plus this bug isn't present in the new version). This Github repo will still exist, it's just a mirror n

[2018-06-11 12:29] #76 closed

[2018-06-11 12:30] adtac commented on #78
@kWeb24 Thanks a lot for the issue! This issue is still valid in the new version (basically a rewrite).

We have, however, moved all development [to GitLab](https://gitlab.com/commento/commento-ce). Therefore, this comment has been exported to https://gitlab.com/commento/commento-ce/issues/27 (with a link back to this issue for history). Cheers!

[2018-06-11 12:30] #78 closed

[2018-06-11 12:33] adtac commented on #96
@jco2 @nkprince007 @dgl1 Sorry for the delay, https://commento.io has been in private beta for the past few months! Feel free to add yourself to the waiting list on the homepage :)

BTW, we've moved all development [to GitLab](https://gitlab.com/commento/commento-ce). So I'm closing this issue as I'm moving all issues to GitLab. Cheers!

[2018-06-11 12:33] #96 closed

[2018-06-11 12:36] adtac commented on #97
@AkshayAgarwal007 Thanks a lot for the issue! This is definitely still possible.

We have, however, moved all development [to GitLab](https://gitlab.com/commento/commento-ce). Therefore, this comment has been exported to https://gitlab.com/commento/commento-ce/issues/28 (with a link back to this issue for history). Cheers!

[2018-06-11 12:36] #97 closed

[2018-06-11 12:37] adtac commented on #114
Closing in favour of https://gitlab.com/commento/commento-ce/issues/29

[2018-06-11 12:37] #114 closed

[2018-06-11 12:40] adtac commented on #126
@nkprince007 @Trollwut @Avamander @davidak @dertuxmalwieder @NightMachinary (some of you are mentioned because you've shown interest in this issue with :+1:): This issue is still definitely possible.

We have, however, moved all development [to GitLab](https://gitlab.com/commento/commento-ce). Therefore, this comment has been exported to https://gitlab.com/commento/commento-ce/issues/30 (with a li

[2018-06-11 12:40] #126 closed

[2018-06-11 12:43] adtac commented on #131
@cweagans @lrstanley @mro - Thanks a lot for this issue! This issue is still very much possible.

We have, however, moved all development [to GitLab](https://gitlab.com/commento/commento-ce). Therefore, this comment has been merged with https://gitlab.com/commento/commento-ce/issues/3 (with a link back to this issue for history). Go.rice seems to be the popular opinion :)

[2018-06-11 12:43] #131 closed

[2018-06-11 12:49] adtac commented on #132
@nkprince007 @grawlinson Thanks a lot for this issue!

We have, however, moved all development [to GitLab](https://gitlab.com/commento/commento-ce). Therefore, this comment has been exported to (with a link back to this issue for history):
 - https://gitlab.com/commento/commento-ce/issues/30 - for Arch Linux (AUR)
 - https://gitlab.com/commento/commento-ce/issues/32 - for macOS

I'm closing this i

[2018-06-11 12:49] #132 closed

[2018-06-11 12:51] adtac commented on #138
Issue migrated to https://gitlab.com/commento/commento-ce/issues/34

[2018-06-11 12:51] #138 closed

[2018-06-11 12:53] adtac commented on #142
Migrated to https://gitlab.com/commento/commento-ce/issues/35

[2018-06-11 12:53] #142 closed

[2018-06-11 12:55] adtac commented on #143
@decimoseptimo This issue has been solved in the new version. Here's what it looks like right now:

![screenshot from 2018-06-11 18-24-34](https://user-images.githubusercontent.com/7521600/41232671-ba8618dc-6da4-11e8-855f-beca9ad3597b.png)

BTW, we've moved all development [to GitLab](https://gitlab.com/commento/commento-ce). So I'm closing this issue for two reasons: this has been implemented, an

[2018-06-11 12:55] #143 closed

[2018-06-11 12:58] adtac commented on #145
@nkprince007 @davidak Thanks for this feature suggestion!

We have moved all development [to GitLab](https://gitlab.com/commento/commento-ce). Therefore, this comment has been exported to https://gitlab.com/commento/commento-ce/issues/36 (with a link back to this issue for history). Cheers!

[2018-06-11 12:58] #145 closed

[2018-06-11 13:00] adtac commented on #148
@schollz @somenxavier I'm afraid this issue is now really outdated, so I'm closing this issue. There's a completely new version (basically a rewrite), and if you're still facing this issue, please file a different issue. The old version (for which you reported the error) has been deprecated.

BTW, we've moved all development [to GitLab](https://gitlab.com/commento/commento-ce). If you need to file

[2018-06-11 13:00] #148 closed

[2018-06-11 13:01] adtac commented on #151
@modInfo @pjebs @klummy Thanks a lot for this issue! This issue is still very much valid.

We have, however, moved all development [to GitLab](https://gitlab.com/commento/commento-ce). Therefore, this comment has been exported to https://gitlab.com/commento/commento-ce/issues/37 (with a link back to this issue for history). Cheers!

[2018-06-11 13:01] #151 closed

[2018-06-11 13:06] adtac commented on #156
@jayvdb Thanks a lot for this issue! This is more possible now than before, I think, because of the moderation dashboard, etc. Maybe we could have a list of email addresses that are allowed to list/get comments, and require authentication.

Anyway, we've moved all development [to GitLab](https://gitlab.com/commento/commento-ce). Therefore, this comment has been exported to https://gitlab.com/comme

[2018-06-11 13:06] #156 closed

[2018-06-11 13:07] adtac commented on #158
@davidak @dertuxmalwieder @SnorlaxYum This feature has now been implemented! In the latest version of Commento (basically a rewrite), you now have the option to enter your website when you want to create an account to comment.

BTW, we've moved all development [to GitLab](https://gitlab.com/commento/commento-ce). So I'm closing this issue for two reasons: this has been implemented, and all issues

[2018-06-11 13:07] #158 closed

[2018-06-11 13:07] adtac commented on #158
Here's what it looks like:

![screenshot from 2018-06-11 18-37-36](https://user-images.githubusercontent.com/7521600/41233251-8b0c1352-6da6-11e8-896e-adff9aee6026.png)

[2018-06-11 13:11] adtac commented on #160
@limafoxtrottango

I'm not sure if this is a good idea; I hate fixed div elements in webpages. Maybe others could weigh in?

This feature has now been implemented! In the latest version of Commento (basically a rewrite), you now have a placeholder in the textarea :)

I'm not sure I fully understand what kind of demarcation you want?

Anyway, we've moved all development [to GitLab](https://gitlab.c

[2018-06-11 13:11] #160 closed

[2018-06-11 13:14] adtac commented on #161
@DoctorBud @arpang Thanks a lot for this issue! I think this issue is now really outdated; we have new version of Commento (basically a rewrite), and I don't think this issue is present there. The older version has been deprecated.

BTW, we've moved all development [to GitLab](https://gitlab.com/commento/commento-ce). So I'm closing this issue for two reasons: I think this has been fixed, and all

[2018-06-11 13:14] #161 closed

[2018-06-11 13:15] adtac commented on #166
@SnorlaxYum thanks a lot for this issue! This issue is still very much valid.

We have, however, moved all development [to GitLab](https://gitlab.com/commento/commento-ce). Therefore, this comment has been exported to https://gitlab.com/commento/commento-ce/issues/39 (with a link back to this issue for history).

[2018-06-11 13:15] #166 closed

[2018-06-11 13:19] adtac commented on #167
@mro Thanks a lot for this issue! The new version of Commento only supports PostgreSQL (by design; supporting and maintaining multiple databases is too much effort until someone comes up with a really amazing abstraction). Moving to *just* PostgreSQL as its advantages over an ORM: ORMs won't give you the level of configuration that postgres does. For example, we make of postgres specific features

[2018-06-11 13:19] #167 closed

[2018-06-11 13:24] adtac commented on #174
@decimoseptimo I'm closing this issue because we've achieved a stable API design in the new version (basically a rewrite) and I don't think we'll be making drastic changes. The old version (see branch `v0`) is still unchanged.

BTW, we've moved all development [to GitLab](https://gitlab.com/commento/commento-ce). So I'm closing this issue. Cheers! Feel free to create a new issue in teh gitlab repo

[2018-06-11 13:24] #174 closed

[2018-06-11 13:27] adtac commented on #177
@chenxsan @rseen Thanks a lot for this issue! This is a valid issue, but I think there won't be a fix for this because the old version has been deprecated in favour of the new version (basically a rewrite).

BTW, we've moved all development [to GitLab](https://gitlab.com/commento/commento-ce). So I'm closing this issue. If you see a mistake in future releases in the new version, feel free to creat

[2018-06-11 13:27] #177 closed

[2018-06-11 13:29] adtac commented on #180
@kaushalmodi @mro thanks a lot for this issue! This is definitely still valid.

We have, however, moved all development [to GitLab](https://gitlab.com/commento/commento-ce). Therefore, this comment has been exported to https://gitlab.com/commento/commento-ce/issues/40 (with a link back to this issue for history).

[2018-06-11 13:29] #180 closed

[2018-06-11 13:31] adtac commented on #181
@jamesbvaughan Thanks a lot for this issue! As you know, we already have Disqus import available in the new version (the rewrite).

We have, however, moved all development [to GitLab](https://gitlab.com/commento/commento-ce). So I'm closing this issue. Cheers!

[2018-06-11 13:31] #181 closed

[2018-06-11 13:32] adtac commented on #183
@jamesbvaughan I'm afraid this issue is specific to the old, deprecated version, too. That version has been retired, and will not receive any patches apart from some critical security patches. The new version (basically a rewrite), as you know, is way more complete and featureful.

Anyway, I'm closing this issue because we're [moving all developmen to Gitlab](https://gitlab.com/commento/commento-c

[2018-06-11 13:32] #183 closed

[2018-06-11 13:35] adtac commented on #184
Hey @saiteja09 - I think this issue has been solved in the new version (basically a rewrite). The old version has been deprecated, and will not receive any new features (apart from critical security patches).

We have also [moved all development to GitLab](https://gitlab.com/commento/commento-ce). So I'm closing this issue for these two reasons. Feel free to create a new issue in the Gitlab repo i

[2018-06-11 13:35] #184 closed

[2018-06-11 13:36] adtac commented on #186
You can modify commento's port with the `COMMENTO_PORT` environment variable. Is that what you meant? Feel free to re-open.

[2018-06-11 13:36] #186 closed

[2018-06-11 13:37] adtac commented on #187
Migrated to https://gitlab.com/commento/commento-ce/issues/41

[2018-06-11 13:37] #187 closed

[2018-06-12 11:29] dertuxmalwieder commented on #158
The move to Gitlab is irritating. Is it because Github belongs to a major company now while Gitlab... is a different company?

[2018-06-12 17:55] adtac commented on #158
No, I'm not moving to Github because of the microsoft acquisition. I had been planning this for months. The MS acquisition news broke, like, 2 weeks ago.

Four reasons:

 - Gitlab has so many extra features that it's not even funny how far behind Github is. Basic quality of life improvements like FF merges, merge on pipeline success, namespaced repos, etc. are missing from Github.
 - Github really

[2018-06-12 18:03] adtac commented on #158
Oh, and I may also want the option to export all org-related data for custom hosting that doesn't depend gitlab.com in the future. AFAIK, github doesn't any such option right now (and I don't expect them to add this any time soon to support their on-prem hosting product because they're heavilty betting on a service model).

[2018-06-12 18:05] ericuldall commented on #189
I'm getting the following error (running in kubernetes):
[code]

Sample of my deployment:
[code]

[2018-06-12 18:07] adtac commented on #189
Very weird. Can you try setting the `COMMENTO_PORT` env variable to `8080` manually and try again? I have no experience with kubernetes fwiw, but I think I understand the config mostly.

[2018-06-12 18:12] adtac commented on #189
@ericuldall btw, do you mind popping into `#commento` on freenode IRC so that I can help better? Github is really non-intutive for something like this haha.

[2018-06-12 18:15] dertuxmalwieder commented on #158
I see. Thank you!

[2018-06-12 18:15] ericuldall commented on #189
Okay, the server is running now. But I'm only seeing the following after embed:

![image](https://user-images.githubusercontent.com/3223296/41308878-f566638e-6e31-11e8-9a45-06b1d6868414.png)

[2018-06-12 18:19] adtac commented on #189
Just to confirm, are you using the latest (from 2 hours ago) image?

[2018-07-10 00:13] bfischer1121 opened #190 "Demo?"
Is there an updated link to a demo? The link in #163 doesn't work. Thanks.

[2018-07-10 05:10] adtac commented on #190
There's a working demo here: https://demo.commento.io :)

[2018-07-10 05:10] #190 closed

[2019-03-10 21:54] Mlocik97-issues opened #192 "[Translation] How can I translate texts in commento on my site?"
Hello,

How can I translate commento on my site? for example I have button with text "ADD COMMENT" and I need translate it. I thought, I can do it by CSS -> content, but I can't see which selectors I need to use, how a lot of text I need to translate. Is there file, where are all texts and css selectors, which can use to translation?

[2019-03-11 03:19] adtac commented on #192
Please use the [Gitlab tracker](https://gitlab.com/commento/commento/issues) for new issues. This Github repo is just a code mirror.

Here's the relevant issue on Gitlab: https://gitlab.com/commento/commento/issues/28

To answer your question, you can do this only after i18n is implemented. As I mentioned in the above issue:

[2019-03-11 03:19] #192 closed

[2019-03-20 17:02] tracker1 opened #193 "Feature: Chrome extension to inject comments"
Would be cool to see a chrome extension that injects comments for a site that doesn't offer them.  Similar to the dissenter extension.

[2019-03-21 09:17] Tazeg opened #194 "Empty message"
We can write empty messages just by writing HTML code like `<p></p>`. It should be declined like when we click on ADD COMMENT with an empty textarea.

[2019-03-21 10:44] adtac commented on #194
<p align="center">:warning: &nbsp; <b>This is a mirror. All development takes place <a href="https://gitlab.com/commento/commento">on Gitlab</a>.</b></p>
<div>You're viewing the Github mirror of the <code>master</code> branch. All development and discussion takes place on <a href="https://gitlab.com/commento/commento">on Gitlab</a>, not on Github. Please submit all issues and patches over there.</

[2019-03-21 10:44] #194 closed

[2019-03-21 10:44] adtac commented on #193
<p align="center">:warning: &nbsp; <b>This is a mirror. All development takes place <a href="https://gitlab.com/commento/commento">on Gitlab</a>.</b></p>
<div>You're viewing the Github mirror of the <code>master</code> branch. All development and discussion takes place on <a href="https://gitlab.com/commento/commento">on Gitlab</a>, not on Github. Please submit all issues and patches over there.</

[2019-03-21 10:44] #193 closed

[2019-04-08 18:26] SergeyPirogov opened #195 "Mysql"
Is there any chance to go with mysql?

[2019-04-08 21:16] marcushellberg opened #196 "Styles broken on Edge"
Both comment and login styles are broken on MS Edge.

These can be reproduced on https://demo.commento.io/

<img width="545" alt="Screen Shot 2019-04-08 at 2 15 18 PM" src="https://user-images.githubusercontent.com/883698/55757485-dddd0b00-5a08-11e9-9810-79d4da67eda9.png">
<img width="720" alt="Screen Shot 2019-04-08 at 2 15 06 PM" src="https://user-images.githubusercontent.com/883698/55757487-ddd

[2019-04-08 22:16] marcushellberg opened #197 "Author name links to defunct G+ page"
G+ has been discontinued.

[2019-04-09 11:03] adtac commented on #197
<p align="center">:warning: &nbsp; <b>This is a mirror. All development takes place <a href="https://gitlab.com/commento/commento">on Gitlab</a>.</b></p>
<div>You're viewing the Github mirror of the <code>master</code> branch. All development and discussion takes place on <a href="https://gitlab.com/commento/commento">on Gitlab</a>, not on Github. Please submit all issues and patches over there.</

[2019-04-09 11:03] #197 closed

[2019-04-09 11:03] adtac commented on #196
<p align="center">:warning: &nbsp; <b>This is a mirror. All development takes place <a href="https://gitlab.com/commento/commento">on Gitlab</a>.</b></p>
<div>You're viewing the Github mirror of the <code>master</code> branch. All development and discussion takes place on <a href="https://gitlab.com/commento/commento">on Gitlab</a>, not on Github. Please submit all issues and patches over there.</

[2019-04-09 11:03] #196 closed

[2019-04-09 11:04] adtac commented on #195
No, there are no plans to support multiple database backends.

<p align="center">:warning: &nbsp; <b>This is a mirror. All development takes place <a href="https://gitlab.com/commento/commento">on Gitlab</a>.</b></p>
<div>You're viewing the Github mirror of the <code>master</code> branch. All development and discussion takes place on <a href="https://gitlab.com/commento/commento">on Gitlab</a>, no

[2019-04-09 11:04] #195 closed